In [7]:
import tqdm
import torch
import torchvision
from torchvision import models, transforms

from torch.utils.data import dataset, DataLoader
import torch.nn as nn
import torch.optim as optim

import os
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd


from PIL import Image
df = pd.read_csv('/opt/ml/input/data/train/train.csv')
df_dict = df.to_dict()

classes = ['mask1','mask2','mask3','mask4','mask5','normal','incorrect_mask']

df1 = pd.DataFrame({'id': sorted(list(df_dict['id'].values())*7),
                    'gender' : sorted(list(df_dict['gender'].values())*7),
                    'race' : sorted(list(df_dict['race'].values())*7),
                    'age' : sorted(list(df_dict['age'].values())*7),
                    'path' : sorted(list(df_dict['path'].values())*7),
                    'mask' : classes*len(df)
                    })


save_path = '/opt/ml/input/data/train'
df1.to_csv(os.path.join(save_path, 'train_new.csv'), index=False)

df1['gender'].replace({'male':0, 'female':1}, inplace=True)
df1.drop(columns=['race'], inplace= True)
df1['id'] = df1['id'].astype('str')
df1['path'] = df1['path'].astype('str')
df1['mask'] = df1['mask'].astype('str')
df1['mask_1'] = df1['mask']
df1['mask_1'].replace({'normal':0, 'mask1':1, 'mask2':1, 'mask3':1,'mask4':1,'mask5':1, 'incorrect_mask':2}, inplace=True)

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18900 entries, 0 to 18899
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      18900 non-null  object
 1   gender  18900 non-null  int64
 2   age     18900 non-null  int64
 3   path    18900 non-null  object
 4   mask    18900 non-null  object
 5   mask_1  18900 non-null  int64
dtypes: int64(3), object(3)
memory usage: 886.1+ KB

In [9]:
df1.head(7)

       id  gender  age                    path            mask  mask_1
0  000001       1   18  000001_female_Asian_45           mask1       1
1  000001       1   18  000001_female_Asian_45           mask2       1
2  000001       1   18  000001_female_Asian_45           mask3       1
3  000001       1   18  000001_female_Asian_45           mask4       1
4  000001       1   18  000001_female_Asian_45           mask5       1
5  000001       1   18  000001_female_Asian_45          normal       0
6  000001       1   18  000001_female_Asian_45  incorrect_mask       2

In [10]:
df1.to_csv(os.path.join(save_path, 'train_new_cat.csv'), index=False)